<div class="form">
    <%= form_for @service do |f| %>
        <% if @service.errors.any? %>
            <div id="error_explanation">
                <h3>There were some errors:</h3>
                <% @service.errors.full_messages.each do |message| %>
                    <p><%= message %></p>
                <% end %>
            </div>
        <% end %>

        <div class="field<%= ' field_with_errors' if @service.errors[:name].any? %>">
            <%= f.label :name, "Service:" %>
            <%= f.text_field :name %>
        </div>

        <%= f.submit %>
    <% end %>
</div>