<h2>Welcome <%= @user.name %>!</h2>
<% if current_user.admin? %>
    <p>&#8226; Admin &#8226;</p>
<% end %>

<% if current_user.admin? %>
    <%= link_to "Manage Appointments", user_appointments_path(current_user), class: "btn" %><br><br>
    <%= link_to "Manage Veterinarians", veterinarians_path, class: "btn" %><br><br>
    <%= link_to "Manage Services", services_path, class: "btn" %>
<% else %>
    <% if @user.animals.empty? %>
        <%= link_to "Add Animal", new_user_animal_path(current_user), class: "btn" %>
    <% else %>
        <%= link_to "Animals: #{@user.animals.size}", user_animals_path(@user) %>
    <% end %>
    <br><br>
    <%= link_to "Schedule Appointment", new_user_appointment_path(current_user), class: "btn" %>
<% end %><br><br>

<hr class="small"/><br>

<%= link_to "Delete Account", @user, method: :delete, data: { confirm: "Are you sure you want to delete your account?" }, class: "btn" %>