<h2>Welcome <%= @user.name %>!</h2>

<% if @user.animals.size == 0 %>
    <%= link_to "Add Animal", new_animal_path, class: "add" %>
<% else %>
    <%= link_to "Animals: #{@user.animals.size}", user_animals_path(@user) %>
<% end %>
<br><br>
<% if @user.appointments.size == 0 %>
    <%= link_to "Schedule Appointment", new_appointment_path, class: "add" %>
<% else %>
    <%= link_to "Appointments: #{@user.appointments.size}", appointments_path %>
<% end %>
