<div class="form">
    <%= render partial: "layouts/errors", locals: {object: @animal} %>

    <%= form_for @animal do |f| %>
    
        <div class="field<%= ' field_with_errors' if @animal.errors[:name].any? %>">
            <%= f.label :name, "Name:" %>
            <%= f.text_field :name %>
        </div>

        <div class="field<%= ' field_with_errors' if @animal.errors[:birthdate].any? %>">
            <%= f.label :birthdate, "Birthdate:" %>
            <%= f.date_field :birthdate %>
        </div>

        <div class="field<%= ' field_with_errors' if @animal.errors[:sex].any? %>">
            <%= f.radio_button :sex, "Male" %>
            <%= f.label :sex, "Male", value: "Male"  %>
            <%= f.radio_button :sex, "Female" %>
            <%= f.label :sex, "Female", value: "Female" %>
        </div>

        <div class="field<%= ' field_with_errors' if @animal.errors[:color].any? %>">
            <%= f.label :color, "Color:" %>
            <%= f.text_field :color %>
        </div>

        <div class="field<%= ' field_with_errors' if @animal.errors[:weight].any? %>">
            <%= f.label :weight, "Weight(lbs):" %>
            <%= f.number_field :weight %>
        </div>

        <div class="field<%= ' field_with_errors' if @animal.errors[:species].any? %>">
            <%= f.label :species, "Species:" %>
            <%= f.text_field :species %>
        </div>

        <%= f.submit %>
    <% end %>
</div>