<%=image_tag(@animal.image, size: "200x200", class: "animal_pic") %><br>
<h3>Name: <%= @animal.name %></h3>
Birthdate: <%= @animal.birthdate.strftime("%m/%d/%Y") %><br>
Sex: <%= @animal.sex %><br>
Color: <%= @animal.color %><br>
Weight: <%= @animal.weight %> lbs<br>
Species: <%= @animal.species %><br><br>

<%= link_to "#{@animal.name}'s Appointments", animal_appointments_index_path(@animal), class: "btn" %><br><br>

<%= link_to "Edit", edit_animal_path(@animal) %> or <%= link_to "Delete", @animal, method: :delete, data: { confirm: "Are you sure you want to delete this animal?" } %> Animal<br>