<% if @animal.image.attached? %>
    <%=image_tag(@animal.image, size: "200x200", class: "animal_pic") %>
<% else %>
    <em>No photo available.</em>
<% end %><br>
<h3>Name: <%= @animal.name %></h3>
Birthdate: <%= @animal.birthdate.strftime("%m/%d/%Y") %><br>
Sex: <%= @animal.sex %><br>
Color: <%= @animal.color %><br>
Weight: <%= @animal.weight %> lbs<br>
Species: <%= @animal.species %><br><br>

<%= link_to "#{@animal.name}'s Appointments", user_animal_appointments_path(current_user, @animal), class: "btn" %><br><br>

<hr class="small"/><br>

<%= link_to "Edit", edit_user_animal_path(current_user, @animal) %> or <%= link_to "Delete", @animal, method: :delete, data: { confirm: "Are you sure you want to delete this animal?" } %> Animal<br>