<div class="form">
    <%= render partial: "layouts/errors", locals: {object: @appointment} %>

    <%= form_for @appointment do |f| %>
    
        <div class="field<%= ' field_with_errors' if @appointment.errors[:date].any? %>">
            <%= f.label :date, "Date and Time:" %>
            <%= f.datetime_local_field :date %>
        </div>
        
        <% if @animal %>
            <%= f.hidden_field :animal_id %>
        <% else %>
            <% if current_user.admin? %>
                <%= f.label :animal, "Animal:" %>
                <%= f.collection_select :animal_id, Animal.all, :id, :name, include_blank: "" %>
            <% else %>
                <%= f.label :animal, "Animal:" %>
                <%= f.collection_select :animal_id, current_user.animals, :id, :name, include_blank: "" %>
            <% end %>
        <% end %><br>

        <%= f.label :veterinarian, "Veterinarian:" %>
        <%= f.collection_select :veterinarian_id, Veterinarian.all, :id, :name, include_blank: "" %><br>

        <%= f.label :service, "Service:" %>
        <%= f.collection_select :service_id, Service.all, :id, :name, include_blank: "" %><br>

        <%= f.submit %>
    <% end %>
</div>