<h2><%= @animal.name %>'s Appointments</h2>

<% if @appointments.empty? %>
    <p><%= @animal.name %> has no scheduled appointments.</p>
<% else %>
    <% @appointments.each do |apt| %>
        <p><%= apt.date.strftime("%m/%d/%Y") %> - <%= link_to "#{apt.service.name} with #{apt.veterinarian.name}", user_animal_appointment_path(current_user, @animal, apt) %></p>
    <% end %>
<% end %>

<hr class="small"/><br>

<%= link_to "Schedule Appointment", new_user_animal_appointment_path(current_user, @animal), class: "btn" %>