<!DOCTYPE html>
<html>
  <head>
    <title>Hungerford Rails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= image_tag("pets-banner.jpg") %>
    <nav>
      <%= link_to "Home", root_path %> &#8226; 
      <% if !current_user %>
        <%= link_to "Log In", login_path %>  &#8226;
        <%= link_to "Sign Up", signup_path %>
      <% else %>
        <%= link_to "Profile", user_path(current_user) %> &#8226;
        <%= link_to "Animals", user_animals_path(current_user) %> &#8226;
        <%= link_to "Appointments", appointments_path(current_user) %> &#8226;
        <%= link_to "Log Out", logout_path, method: :delete %>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
